In [144]:
import numpy as np 
import pandas as pd

In [145]:
df = pd.read_csv('hypothyroid.csv')

In [146]:
df.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,P

In [147]:
df.dtypes

age                          object
sex                          object
on thyroxine                 object
query on thyroxine           object
on antithyroid medication    object
sick                         object
pregnant                     object
thyroid surgery              object
I131 treatment               object
query hypothyroid            object
query hyperthyroid           object
lithium                      object
goitre                       object
tumor                        object
hypopituitary                object
psych                        object
TSH measured                 object
TSH                          object
T3 measured                  object
T3                           object
TT4 measured                 object
TT4                          object
T4U measured                 object
T4U                          object
FTI measured                 object
FTI                          object
TBG measured                 object
TBG                          object
referral source              object
binaryClass                  object
dtype: object

In [148]:
df.duplicated().sum()

61

In [149]:
df.drop_duplicates(keep = False, inplace = True)

In [150]:
df = df.replace({"?" : np.NAN})

In [151]:
df.isnull().sum()

age                             1
sex                           148
on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                           277
T3 measured                     0
T3                            677
TT4 measured                    0
TT4                           139
T4U measured                    0
T4U                           295
FTI measured                    0
FTI                           293
TBG measured                    0
TBG                          3678
referral source                 0
binaryClass                     0
dtype: int64

In [152]:
del df["TBG"]

In [153]:
df = df.drop(['TBG measured', 'referral source', 'query on thyroxine', 'on antithyroid medication', 'pregnant', 'lithium', 'tumor'], axis='columns')

In [154]:
df.head()

,age,sex,on thyroxine,sick,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,goitre,hypopituitary,...,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,1.3,t,2.5,t,125,t,1.14,t,109,P
1,23,F,f,f,f,f,f,f,f,f,...,4.1,t,2,t,102,f,NaN,f,NaN,P
2,46,M,f,f,f,f,f,f,f,f,...,0.98,f,NaN,t,109,t,0.91,t,120,P
3,70,F,t,f,f,f,f,f,f,f,...,0.16,t,1.9,t,175,f,NaN,f,NaN,P
4,70,F,f,f,f,f,f,f,f,f,...,0.72,t,1.2,t,61,t,0.87,t,70,P

In [155]:
df = df.drop(['hypopituitary', 'psych', 'TSH measured', 'T3 measured', 'TT4 measured', 'T4U measured', 'FTI measured'], axis='columns')

In [156]:
df.head()

,age,sex,on thyroxine,sick,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,goitre,TSH,T3,TT4,T4U,FTI,binaryClass
0,41,F,f,f,f,f,f,f,f,1.3,2.5,125,1.14,109,P
1,23,F,f,f,f,f,f,f,f,4.1,2,102,NaN,NaN,P
2,46,M,f,f,f,f,f,f,f,0.98,NaN,109,0.91,120,P
3,70,F,t,f,f,f,f,f,f,0.16,1.9,175,NaN,NaN,P
4,70,F,f,f,f,f,f,f,f,0.72,1.2,61,0.87,70,P

In [157]:
df = df.replace({"t" : 1, "f" : 0})

In [158]:
df["binaryClass"].value_counts()

P    3387
N     291
Name: binaryClass, dtype: int64

In [159]:
df["binaryClass"] = df["binaryClass"].replace({"P" : 1, "N" : 0})

In [160]:
df.columns

Index(['age', 'sex', 'on thyroxine', 'sick', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'goitre',
       'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'binaryClass'],
      dtype='object')

In [161]:
df.isna().sum()

age                     1
sex                   148
on thyroxine            0
sick                    0
thyroid surgery         0
I131 treatment          0
query hypothyroid       0
query hyperthyroid      0
goitre                  0
TSH                   277
T3                    677
TT4                   139
T4U                   295
FTI                   293
binaryClass             0
dtype: int64

In [162]:
df['sex'] = df['sex'].replace({"F" : 1, "M" : 0})

In [163]:
df.dtypes

age                    object
sex                   float64
on thyroxine            int64
sick                    int64
thyroid surgery         int64
I131 treatment          int64
query hypothyroid       int64
query hyperthyroid      int64
goitre                  int64
TSH                    object
T3                     object
TT4                    object
T4U                    object
FTI                    object
binaryClass             int64
dtype: object

In [164]:
df['age'].value_counts()

59     95
60     89
70     87
73     81
55     78
       ..
6       1
4       1
10      1
5       1
455     1
Name: age, Length: 93, dtype: int64

In [165]:
cols = df.columns[df.dtypes.eq('object')]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
df.dtypes

age                   float64
sex                   float64
on thyroxine            int64
sick                    int64
thyroid surgery         int64
I131 treatment          int64
query hypothyroid       int64
query hyperthyroid      int64
goitre                  int64
TSH                   float64
T3                    float64
TT4                   float64
T4U                   float64
FTI                   float64
binaryClass             int64
dtype: object

In [166]:
df.isna().sum()

age                     1
sex                   148
on thyroxine            0
sick                    0
thyroid surgery         0
I131 treatment          0
query hypothyroid       0
query hyperthyroid      0
goitre                  0
TSH                   277
T3                    677
TT4                   139
T4U                   295
FTI                   293
binaryClass             0
dtype: int64

In [167]:
df['binaryClass']

0       1
1       1
2       1
3       1
4       1
       ..
3767    1
3768    1
3769    1
3770    1
3771    1
Name: binaryClass, Length: 3678, dtype: int64

In [168]:
df = df.interpolate(method = 'spline', order = 3)
df.isna().sum()

age                   0
sex                   0
on thyroxine          0
sick                  0
thyroid surgery       0
I131 treatment        0
query hypothyroid     0
query hyperthyroid    0
goitre                0
TSH                   0
T3                    0
TT4                   0
T4U                   0
FTI                   0
binaryClass           0
dtype: int64

In [169]:
df['binaryClass'].value_counts()

1    3387
0     291
Name: binaryClass, dtype: int64

In [170]:
df['binaryClass']

0       1
1       1
2       1
3       1
4       1
       ..
3767    1
3768    1
3769    1
3770    1
3771    1
Name: binaryClass, Length: 3678, dtype: int64

In [171]:
df.dtypes

age                   float64
sex                   float64
on thyroxine            int64
sick                    int64
thyroid surgery         int64
I131 treatment          int64
query hypothyroid       int64
query hyperthyroid      int64
goitre                  int64
TSH                   float64
T3                    float64
TT4                   float64
T4U                   float64
FTI                   float64
binaryClass             int64
dtype: object

In [172]:
df['age'] = df['age'].astype(int)
df['sex'] = df['sex'].astype(int)
df['TSH'] = df['TSH'].astype(int)
df['T3'] = df['T3'].astype(int)
df['TT4'] = df['TT4'].astype(int)
df['T4U'] = df['T4U'].astype(int)
df['FTI'] = df['FTI'].astype(int)

In [173]:
df.to_csv("clean_data.csv", index = False)

In [174]:
df1 = pd.read_csv("clean_data.csv")

In [175]:
df1.head()

,age,sex,on thyroxine,sick,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,goitre,TSH,T3,TT4,T4U,FTI,binaryClass
0,41,1,0,0,0,0,0,0,0,1,2,125,1,109,1
1,23,1,0,0,0,0,0,0,0,4,2,102,0,163,1
2,46,0,0,0,0,0,0,0,0,0,1,109,0,120,1
3,70,1,1,0,0,0,0,0,0,0,1,175,0,61,1
4,70,1,0,0,0,0,0,0,0,0,1,61,0,70,1

In [176]:
X = df1.drop(columns="binaryClass", axis = 1)
Y = df1['binaryClass']

In [177]:
print(X.columns)

Index(['age', 'sex', 'on thyroxine', 'sick', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'goitre',
       'TSH', 'T3', 'TT4', 'T4U', 'FTI'],
      dtype='object')

In [178]:
from sklearn.model_selection import train_test_split

In [179]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state = 2)

In [180]:
print(X.shape, X_train.shape, X_test.shape)

(3678, 14) (2942, 14) (736, 14)

In [181]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [182]:
model = LogisticRegression()

In [183]:
model.fit(X_train, Y_train)

C:\Users\sures\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [184]:
train_prediction = model.predict(X_train)
train_accuracy = accuracy_score(train_prediction, Y_train)

In [185]:
test_prediction = model.predict(X_test)
test_accuracy = accuracy_score(test_prediction, Y_test)

In [186]:
print(test_accuracy)

0.9524456521739131

In [187]:
df1.columns

Index(['age', 'sex', 'on thyroxine', 'sick', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'goitre',
       'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'binaryClass'],
      dtype='object')

In [195]:
input_data = (44,0,0,0,0,0,0,0,1,45,1,139,101,33)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = model.predict(input_data_reshaped)

if(prediction[0] == 0):
    print("The person does not have any thyroid disease")
else:
    print("The person have the throid disease")

The person does not have any thyroid disease