In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('hypothyroid.csv')

In [3]:
df.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,P

In [4]:
df.dtypes

age                          object
sex                          object
on thyroxine                 object
query on thyroxine           object
on antithyroid medication    object
sick                         object
pregnant                     object
thyroid surgery              object
I131 treatment               object
query hypothyroid            object
query hyperthyroid           object
lithium                      object
goitre                       object
tumor                        object
hypopituitary                object
psych                        object
TSH measured                 object
TSH                          object
T3 measured                  object
T3                           object
TT4 measured                 object
TT4                          object
T4U measured                 object
T4U                          object
FTI measured                 object
FTI                          object
TBG measured                 object
TBG                          object
referral source              object
binaryClass                  object
dtype: object

In [5]:
df.duplicated().sum()

61

In [6]:
df.drop_duplicates(keep = False, inplace = True)

In [7]:
df = df.replace({"?" : np.NAN})

In [8]:
df.isnull().sum()

age                             1
sex                           148
on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                           277
T3 measured                     0
T3                            677
TT4 measured                    0
TT4                           139
T4U measured                    0
T4U                           295
FTI measured                    0
FTI                           293
TBG measured                    0
TBG                          3678
referral source                 0
binaryClass                     0
dtype: int64

In [9]:
df.shape

(3678, 30)

In [10]:
del df["TBG"]

In [11]:
df = df.replace({"t" : 1, "f" : 0})

In [12]:
df["binaryClass"].value_counts()

P    3387
N     291
Name: binaryClass, dtype: int64

In [13]:
df["binaryClass"] = df["binaryClass"].replace({"P" : 1, "N" : 0})

In [14]:
df.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'referral source',
       'binaryClass'],
      dtype='object')

In [15]:
del df["referral source"]

In [16]:
df.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'binaryClass'],
      dtype='object')

In [17]:
df.isna().sum()

age                            1
sex                          148
on thyroxine                   0
query on thyroxine             0
on antithyroid medication      0
sick                           0
pregnant                       0
thyroid surgery                0
I131 treatment                 0
query hypothyroid              0
query hyperthyroid             0
lithium                        0
goitre                         0
tumor                          0
hypopituitary                  0
psych                          0
TSH measured                   0
TSH                          277
T3 measured                    0
T3                           677
TT4 measured                   0
TT4                          139
T4U measured                   0
T4U                          295
FTI measured                   0
FTI                          293
TBG measured                   0
binaryClass                    0
dtype: int64

In [18]:
df['sex'] = df['sex'].replace({"F" : 1, "M" : 0})

In [19]:
df.dtypes

age                           object
sex                          float64
on thyroxine                   int64
query on thyroxine             int64
on antithyroid medication      int64
sick                           int64
pregnant                       int64
thyroid surgery                int64
I131 treatment                 int64
query hypothyroid              int64
query hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH measured                   int64
TSH                           object
T3 measured                    int64
T3                            object
TT4 measured                   int64
TT4                           object
T4U measured                   int64
T4U                           object
FTI measured                   int64
FTI                           object
TBG measured                   int64
binaryClass                    int64
dtype: object

In [20]:
df['age'].value_counts()

59     95
60     89
70     87
73     81
55     78
       ..
455     1
4       1
10      1
6       1
5       1
Name: age, Length: 93, dtype: int64

In [21]:
cols = df.columns[df.dtypes.eq('object')]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
df.dtypes

age                          float64
sex                          float64
on thyroxine                   int64
query on thyroxine             int64
on antithyroid medication      int64
sick                           int64
pregnant                       int64
thyroid surgery                int64
I131 treatment                 int64
query hypothyroid              int64
query hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH measured                   int64
TSH                          float64
T3 measured                    int64
T3                           float64
TT4 measured                   int64
TT4                          float64
T4U measured                   int64
T4U                          float64
FTI measured                   int64
FTI                          float64
TBG measured                   int64
binaryClass                    int64
dtype: object

In [22]:
df.isna().sum()

age                            1
sex                          148
on thyroxine                   0
query on thyroxine             0
on antithyroid medication      0
sick                           0
pregnant                       0
thyroid surgery                0
I131 treatment                 0
query hypothyroid              0
query hyperthyroid             0
lithium                        0
goitre                         0
tumor                          0
hypopituitary                  0
psych                          0
TSH measured                   0
TSH                          277
T3 measured                    0
T3                           677
TT4 measured                   0
TT4                          139
T4U measured                   0
T4U                          295
FTI measured                   0
FTI                          293
TBG measured                   0
binaryClass                    0
dtype: int64

In [23]:
df.dropna(axis = 0, thresh = 20, inplace = True)

In [24]:
df.isna().sum()

age                            1
sex                          148
on thyroxine                   0
query on thyroxine             0
on antithyroid medication      0
sick                           0
pregnant                       0
thyroid surgery                0
I131 treatment                 0
query hypothyroid              0
query hyperthyroid             0
lithium                        0
goitre                         0
tumor                          0
hypopituitary                  0
psych                          0
TSH measured                   0
TSH                          277
T3 measured                    0
T3                           677
TT4 measured                   0
TT4                          139
T4U measured                   0
T4U                          295
FTI measured                   0
FTI                          293
TBG measured                   0
binaryClass                    0
dtype: int64

In [25]:
df = df.interpolate(method = 'spline', order = 3)
df.isna().sum()

age                          0
sex                          0
on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          0
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
TBG measured                 0
binaryClass                  0
dtype: int64

In [26]:
df['binaryClass'].value_counts()

1    3387
0     291
Name: binaryClass, dtype: int64

In [27]:
df.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'binaryClass'],
      dtype='object')

In [28]:
df.dtypes

age                          float64
sex                          float64
on thyroxine                   int64
query on thyroxine             int64
on antithyroid medication      int64
sick                           int64
pregnant                       int64
thyroid surgery                int64
I131 treatment                 int64
query hypothyroid              int64
query hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH measured                   int64
TSH                          float64
T3 measured                    int64
T3                           float64
TT4 measured                   int64
TT4                          float64
T4U measured                   int64
T4U                          float64
FTI measured                   int64
FTI                          float64
TBG measured                   int64
binaryClass                    int64
dtype: object

In [29]:
df['age'] = df['age'].astype(int)
df['sex'] = df['sex'].astype(int)
df['TSH'] = df['TSH'].astype(int)
df['T3'] = df['T3'].astype(int)
df['TT4'] = df['TT4'].astype(int)
df['T4U'] = df['T4U'].astype(int)
df['FTI'] = df['FTI'].astype(int)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3678 entries, 0 to 3771
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3678 non-null   int32
 1   sex                        3678 non-null   int32
 2   on thyroxine               3678 non-null   int64
 3   query on thyroxine         3678 non-null   int64
 4   on antithyroid medication  3678 non-null   int64
 5   sick                       3678 non-null   int64
 6   pregnant                   3678 non-null   int64
 7   thyroid surgery            3678 non-null   int64
 8   I131 treatment             3678 non-null   int64
 9   query hypothyroid          3678 non-null   int64
 10  query hyperthyroid         3678 non-null   int64
 11  lithium                    3678 non-null   int64
 12  goitre                     3678 non-null   int64
 13  tumor                      3678 non-null   int64
 14  hypopituitary              3678 non-null   int64
 15  psych                      3678 non-null   int64
 16  TSH measured               3678 non-null   int64
 17  TSH                        3678 non-null   int32
 18  T3 measured                3678 non-null   int64
 19  T3                         3678 non-null   int32
 20  TT4 measured               3678 non-null   int64
 21  TT4                        3678 non-null   int32
 22  T4U measured               3678 non-null   int64
 23  T4U                        3678 non-null   int32
 24  FTI measured               3678 non-null   int64
 25  FTI                        3678 non-null   int32
 26  TBG measured               3678 non-null   int64
 27  binaryClass                3678 non-null   int64
dtypes: int32(7), int64(21)
memory usage: 732.7 KB

In [31]:
df.to_csv("cleaned_data.csv", index = False)

In [32]:
df1 = pd.read_csv("cleaned_data.csv")

In [33]:
df.shape

(3678, 28)

In [34]:
df1.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,binaryClass
0,41,1,0,0,0,0,0,0,0,0,...,1,2,1,125,1,1,1,109,0,1
1,23,1,0,0,0,0,0,0,0,0,...,1,2,1,102,0,0,0,163,0,1
2,46,0,0,0,0,0,0,0,0,0,...,0,1,1,109,1,0,1,120,0,1
3,70,1,1,0,0,0,0,0,0,0,...,1,1,1,175,0,0,0,61,0,1
4,70,1,0,0,0,0,0,0,0,0,...,1,1,1,61,1,0,1,70,0,1

In [35]:
X = df1.drop(columns="binaryClass", axis = 1)
Y = df1['binaryClass']

In [39]:
print(X.columns)

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured'],
      dtype='object')

In [41]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
3673    1
3674    1
3675    1
3676    1
3677    1
Name: binaryClass, Length: 3678, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state = 2)

In [44]:
print(X.shape, X_train.shape, X_test.shape)

(3678, 27) (2942, 27) (736, 27)

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [46]:
model = LogisticRegression()

In [47]:
model.fit(X_train, Y_train)

C:\Users\sures\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [48]:
train_prediction = model.predict(X_train)
train_accuracy = accuracy_score(train_prediction, Y_train)

In [49]:
print(train_accuracy)

0.9510537049626104

In [50]:
test_prediction = model.predict(X_test)
test_accuracy = accuracy_score(test_prediction, Y_test)

In [51]:
print(test_accuracy)

0.9551630434782609

In [62]:
input_data = (65,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,12,1,0,1,99,1,1,1,87,0)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = model.predict(input_data_reshaped)

if(prediction[0] == 0):
    print("The person does not have any thyroid disease")
else:
    print("The person have the throid disease")

The person have the throid disease